<footer class="krypton-footer">
    <div class="container">
        <!-- Logo -->
        <div class="footer-logo">
            <a href="index.html">
                <div class="brand-name">Kromatika.Finance</div>
                <div class="brand-subtitle">Next Generation DEX Crypto Trading</div>
            </a>
        </div>
        
        <!-- Columns -->
        <div class="columns footer-columns is-vcentered">
            <div class="column is-4">
                <!-- Links group -->
                <ul class="footer-links">
                    <li>
                        <a href="roadmap.html" target="_blank">Roadmap</a>
                    </li>
                    <li>
                        <a href="token.html" target="_blank">Token</a>
                    </li>
                </ul>
            </div>
            <!-- Newsletter -->
            <div class="column is-4">
                <div class="subscribe-block">
                    <form>
                        <!-- Field -->
                        <div class="control">
                            <!-- Special input -->
                            <ul>
                            <li>
                                <a href="https://twitter.com/KromatikaFi" target="_blank">Twitter</a>
                            </li>
                            <li>
                                <a href="https://discord.gg/Uv2Q2v26JG" target="_blank">Discord</a>
                            </li>
                            <li>
                                <a href="https://t.me/joinchat/09jBPxB1cl85OTBk" target="_blank">Telegram</a>
                            </li>
                            <li>
                                <a href="https://kromatika-finance.medium.com/" target="_blank">Medium</a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/kromatika" target="_blank">Linkedin</a>
                            </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Links group -->
            <div class="column is-4">
                <ul class="footer-links">
                    <li>
                        <a href="https://github.com/Kromatika-Finance/" target="_blank">Github</a>
                    </li>

                    <li>
                        <a href="howtobuy.html" target="_blank">How To Buy</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Copyright -->
        <p class="k-copyright">Copyright © 2021 Kromatika.Finance All Rights Reserved</p>
        <br>
        <!-- Made by -->
        <p class="coded-by">Designed and Coded by <a href="index.html" target="_blank">KromatikaFi</p>
    </div>

</footer>
