<footer class="krypton-footer">
    <div class="container">
        <!-- Logo -->
        <div class="footer-logo">
            <img class="static" src="/img/logo/krom.png" alt="">
            <a href="index.html">
                <div class="brand-name">Kromatika.Finance</div>
                <div class="brand-subtitle">Next Generation DEX Crypto Trading</div>
            </a>
        </div>
        
        <!-- Columns -->
        <div class="columns footer-columns is-vcentered">
            <div class="column is-4">
                <!-- Links group -->
                <ul class="footer-links">
                    <li>
                        <a href="roadmap.html">Roadmap</a>
                    </li>
                    <li>
                        <a href="token.html">Token</a>
                    </li>
                    <li>
                        <a href="howtobuy.html">How To Buy</a>
                    </li>
                </ul>
            </div>
            <!-- Newsletter -->
            <div class="column is-4">
                <div class="subscribe-block">
                    <form>
                        <!-- Field -->
                        <div class="control">
                            <!-- Special input -->
                            <p>
                            <ul>
                                <div className="padding-top:15px flex flex-col">
                                    <a
                                    href="https://twitter.com/KromatikaFi" target="_blank"
                                    className="social-icon button flex flex-col"
                                    width="38px"
                                    height="38px"
                                >
                                    <img width="40px" height="40px" src="/img/twitter.svg" alt=""></img>
                                </a>
                                <a
                                href="https://instagram.com/kromatika.finance" target="_blank"
                                className="social-icon button flex flex-col"
                                width="38px"
                                height="38px"
                            >
                                <img width="38px" height="38px" src="/img/instagram.svg" alt=""></img>
                            </a>
                            <a
                            href="https://etherscan.io/token/0x3af33bef05c2dcb3c7288b77fe1c8d2aeba4d789" target="_blank"
                            className="social-icon button flex flex-col"
                            width="50px"
                            height="50px"
                        >
                            <img width="44px" height="44px" src="/img/etherscan.svg" alt=""></img>
                        </a>
                        <a
                        href="https://coinmarketcap.com/currencies/kromatika/" target="_blank"
                        className="social-icon button flex flex-col"
                        width="50px"
                        height="50px"
                    >
                        <img width="40px" height="40px" src="/img/coinmarketcap.svg" alt=""></img>
                    </a>
                    <a
                    href="https://www.linkedin.com/company/kromatika/" target="_blank"
                    className="social-icon button flex flex-col"
                    width="50px"
                    height="50px"
                >
                    <img width="40px" height="40px" src="/img/linkedin.svg" alt=""></img>
                </a>
                <a
                href="https://kromatika-finance.medium.com/" target="_blank"
                className="social-icon button flex flex-col"
                width="50px"
                height="50px"
            >
                <img width="40px" height="40px" src="/img/medium.svg" alt=""></img>
            </a>
                                </div>
                                </p>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Links group -->
            <div class="column is-4">
                <ul class="footer-links">
                    <li>
                        <a href="https://github.com/Kromatika-Finance/" target="_blank">Github</a>
                    </li>

                    <li>
                        <a href="https://docs.kromatika.finance/" target="_blank">Docs</a>
                    </li>
                    <li>
                        <a href="https://forms.gle/xpQj7ETJPG6QG79K6" target="_blank">Bug Bounty</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Copyright -->
        <p class="k-copyright">Copyright © 2021 Kromatika.Finance All Rights Reserved</p>
        <br>
        <!-- Made by -->
        <p class="coded-by">Designed and Coded by <a href="index.html" target="_blank">KromatikaFi</p>
    </div>

</footer>
