@import url('https://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLORS */
:root {
    --bg-color-primary: #040C18;
    --bg-color-secondary: #040C18;
    --bg-color-ternary: #040C18;
    --bg-color-yellow: #70706f;
    --bg-color-blue:#0059ff;

    --text-color-primary: #ffffff;
    --text-color-secondary: #12b2ff;
    --text-color-ternary: #0059ff;
    --text-color-dark: #111316;

    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TYPOGRAPHY */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Gotham', 'Roboto', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* NAVBAR */
nav.solidBackgroundColor {
    background-color: var(--bg-color-secondary);
}

.bg-yellow {
    background-color: var(--bg-color-yellow);
}

.text-yellow {
    color: var(--text-color-ternary);
}

a.text-yellow:hover,
a.text-yellow:hover > i {
    color: var(--text-color-ternary);
}

.link-underline:hover {
    -webkit-box-shadow: 0 2px 0 var(--bg-color-yellow);
    box-shadow: 0 2px 0 var(--bg-color-yellow);
}

/* SECTIONS */
#hero {
    background: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(assets/img/back.png) no-repeat center center fixed;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.4))),
    url(assets/img/back.png) no-repeat center center fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(assets/img/back.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    mix-blend-mode: multiply;
    position: relative;
}

#howItWorks {
    background-color: var(--bg-color-primary);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

#features {
    background: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(assets/img/market-prices.webp) no-repeat center center fixed;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.4))),
    url(assets/img/market-prices.webp) no-repeat center center fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(assets/img/market-prices.webp) no-repeat center center fixed;
}

.feature-card {
    background-color: var(--bg-color-primary);
}

#benefits {
    background-color: var(--bg-color-primary);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

#Brands {
    background: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(assets/img/back.png) no-repeat center center fixed;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.4))),
    url(assets/img/back.png) no-repeat center center fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(assets/img/back.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    mix-blend-mode: multiply;
    position: relative;
}

/* BUTTONS */
.btn:hover {
    -webkit-box-shadow: 0 0 1px 1px var(--text-color-secondary);
    box-shadow: 0 0 1px 1px var(--text-color-secondary);
}

#btn-see-demo:hover {
    -webkit-box-shadow: 0 0 1px 1px var(--bg-color-yellow);
    box-shadow: 0 0 1px 1px var(--bg-color-yellow);
    color: var(--text-color-secondary);
}

.btnConnectWallet:hover {
    background-color: var(--bg-color-primary);
    color: var(--text-color-ternary);
}

#btn-read-more {
    background-color: var(--text-color-secondary);
}

#btn-read-more:hover {
    color: var(--text-color-dark);
}

#btn-see-demo,
#btn-see-demo:hover {
    background-color: transparent;
    border: 1px solid var(--bg-color-yellow);
}

#angleDoubleDown {
    color: var(--text-color-primary);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.75;
}

#angleDoubleDown:hover {
    color: var(--text-color-primary);
    -moz-filter: blur(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
}
